.hero {
  float: right;
}
clearfix {
  clear: both;
}
.list li {
  display: inline-block;
  padding: 20px;
  cursor: pointer;
}
.bg-image {
  background-image: url(../images/bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.txt {
  float: right;
  padding_top: 50px;
  padding-right: 50px;
}
.clearfix{
    clear:both;
}
.list home:hover {
  color: blue;
}
.about-us {
    padding:20px;
    margin:30px;
  background-color: #496bf2;
  color: white;
}
.b-app {
    padding:20px;
    margin:30px;
background-color: #2dd6c1;
  color: white;
}
.services{
    float:left;
    box-shadow:0 0 5px;
    margin:25px;
    padding:30px;
    width:17%
    
}
.clearfix{
    clear:both;
}
.doctor{
    float:left;
    
}
.care words{
    float:right;
}

.patients{
    top: 50%;
    text-align:center;
}
.rm{
    padding:20px;
    margin:30px;
    background-color:#496bf2;
    color:white;
}
.abt{
    color:#2dd6c1;
}
.us{
    color:#496bf2;
}
.tho{
    color: #496bf2;
}
.patients h3{
    color:#496bf2;
}
.love{
    color:#2dd6c1;
}
.you{
    color:#496bf2;
}
.Testimonial-circle{
    height:20px;
    width:20px;
    border:2px solid #496bf2;
    border-radius:50%;
    display:inline-block;
    margin:6px;
}
.points Testimonials-circle{
  background-color:#496bf2;
}
.contact{
  background-image: url(../images/doc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 120vh;
  width:100vw;
  position: relative;
}
.life{
  padding: 50px;
  margin: 50px;
}
.mss{
  padding: 100px;
  margin: 50px;
}
.sub{
  padding: 50px;
  margin: 30px;
  background-color: #496bf2;
  color:white;
}