.hero {
  float: right;
}
clearfix {
  clear: both;
}
.list li {
  display: inline-block;
  padding: 20px;
  cursor: pointer;
}
.bg-image {
  background-image: url(../images/bg.png );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 105vw;
}
.txt {
  float: right;
  padding-top: 50px;
  padding-right: 50px;
}
.txt h1{
  color:#496bf2;
}
.clearfix{
    clear:both;
}
.list home:hover {
  color: blue;
}
.about-us {
    padding:20px;
    margin:30px;
  background-color: #496bf2;
  color: white;
}
.b-app {
    padding:20px;
    margin:30px;
background-color: #2dd6c1;
  color: white;
}
.services{
    float:left;
    box-shadow:0 0 5px;
    margin:25px;
    padding:30px;
    width:17%
    
}
.services h2{
  color:blue;
}
.clearfix{
    clear:both;
}
.doctor{
    float:left;
    
}
.care words{
    float:right;
}

.patients{
    top: 50%;
    text-align:center;
}
.rm{
    padding:20px;
    margin:30px;
    background-color:#496bf2;
    color:white;
}
.abt{
    color:#2dd6c1;
}
.us{
    color:#496bf2;
}
.tho{
    color: #496bf2;
}
.patients h3{
    color:#496bf2;
}
.love{
    color:#2dd6c1;
}
.you{
    color:#496bf2;
}
.testimonial-circle{
    height:20px;
    width:20px;
  
    border-radius:50%;
    display: inline-block;
    margin:6px;
}
.blue{
  background-color: #496bf2;
}
.green{
  background-color: #2dd6c1;
}


.contact{
  background-image: url(../images/doc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 90vh;
  width:100vw;
  position: relative;
}
.life{
  padding-right: 500px;
  padding-bottom: 50px;
  margin: 50px;
}
.mss{
  padding-right: 500px;
  padding-bottom: 100px;
  margin: 50px;
}
.sub{
  padding-right: 100px;
  padding-bottom: 20px;
  margin: 20px;
  background-color: #496bf2;
  color:white;
}
.social{
  margin:20px;
  padding-right: 20px;
}
.mercy li{
  list-style-type:none;
  
}
.make li{
  list-style-type:none;
}
.first li{
  list-style-type:none;
}
.mercy{
  float:left;
}
.make{
  float:right;
}
.make{
  width: 25%;
}
.icons{
  display: flex;
}